# Song recommender

In [5]:
import pandas as pd
import scraping as sc
import spotify

In [3]:
sc.recommend_song()

Möp. asdf is not in the Top100!

In [4]:
artist_df = sc.load_or_scrape('wiki_artist')
artist_df

                    artists
0       "Weird Al" Yankovic
1                  (G)I-dle
2                      2NE1
3                       2PM
4                      2Pac
..                      ...
793  the Velvet Underground
794           the Veronicas
795       the White Stripes
796                 the Who
797     “Weird Al” Yankovic

[798 rows x 1 columns]